* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Arial", sans-serif;
  background-color: #120522;
}

p,
h1,
h2,
h3 {
  margin: 0;
  padding: 0;
}

.wrapper {
  width: 1440px;
  margin: 0 auto;
  position: relative;
  height: 100%;
}

.gold-button {
  height: 48px;
  width: 250px;
  font-size: 18px;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(-12.5%, #ffea9f), color-stop(112.5%, rgba(255, 181, 4, 0))), #ffb504;
  background: linear-gradient(180deg, #ffea9f -12.5%, rgba(255, 181, 4, 0) 112.5%), #ffb504;
  border: 4px solid #ffc804;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: 0px 10px 40px rgba(255, 238, 149, 0.8), inset 0px 0px 24px rgba(252, 212, 65, 0.5);
          box-shadow: 0px 10px 40px rgba(255, 238, 149, 0.8), inset 0px 0px 24px rgba(252, 212, 65, 0.5);
  border-radius: 60px;
  color: #ab4800;
  cursor: pointer;
  font-weight: 700;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.gold-button:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.header {
  background: url("assets/images/desktop.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
}

.header__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
  padding: 40px 80px;
}

.header__logo img {
  height: 200px;
}

.header .flash {
  position: absolute;
  right: 40px;
  top: 50%;
  -webkit-transform: translate(0, -55%);
          transform: translate(0, -55%);
}

.header .claim-now {
  position: absolute;
  bottom: 100px;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
}

.header .claim-now a {
  text-decoration: none;
  color: #ab4800;
  padding: 10px 65px;
}

.form__background {
  position: fixed;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.85);
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.form__background form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 50%;
  max-width: 940px;
  background: #240129;
  -webkit-box-shadow: 0px 0px 200px rgba(255, 122, 0, 0.6);
          box-shadow: 0px 0px 200px rgba(255, 122, 0, 0.6);
  border-radius: 40px;
  padding: 0 48px;
  position: relative;
}

.form__background form h3 {
  color: #ffffff;
  text-align: center;
  font-weight: 600;
  font-size: 36px;
  margin: 30px 0;
}

.form__background form .cross {
  position: absolute;
  right: 30px;
  top: 10px;
  font-size: 32px;
  bottom: -0.08%;
  color: #50005b;
  cursor: pointer;
}

.form__background form .first-line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 25px;
}

.form__background form .first-line input {
  width: 50%;
  height: 50px;
}

.form__background form .first-line input:first-child {
  margin-right: 25px;
}

.form__background form textarea {
  margin-bottom: 32px;
  height: 140px;
}

.form__background form input,
.form__background form textarea {
  background: rgba(56, 0, 64, 0.6);
  border: 4px solid rgba(47, 0, 54, 0.6);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 10px;
  color: #ffffff;
  color: rgba(255, 255, 255, 0.5);
  font-size: 18px;
  padding: 0 14px;
  outline: none;
}

.form__background form input:focus,
.form__background form textarea:focus {
  border: 4px solid #50005b;
}

.form__background form .submit-button {
  margin: 0 auto;
  margin-bottom: 56px;
}

.info {
  padding: 100px 80px 300px;
  text-align: center;
  color: #ffffff;
}

.info h1 {
  margin-bottom: 40px;
  font-weight: 600;
  font-size: 36px;
  line-height: 22px;
}

.info p {
  margin-bottom: 40px;
  font-size: 24px;
  line-height: 39px;
  letter-spacing: 0.07px;
}

.info h2 {
  margin-top: 60px;
  margin-bottom: 40px;
  font-weight: 600;
  font-size: 36px;
  line-height: 22px;
  letter-spacing: 0.07px;
}

.info__list {
  margin-bottom: 50px;
}

.info__list li {
  list-style-type: none;
  font-size: 24px;
  line-height: 39px;
}

.info__list:last-child li {
  margin-bottom: 40px;
}

.info .deposits {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.info .deposits .line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.info .deposits .line .deposit {
  width: 25%;
  margin-bottom: 45px;
}

.info .deposits .line .deposit h3 {
  text-align: center;
  font-weight: 600;
  font-size: 24px;
  line-height: 22px;
  margin-bottom: 24px;
}

.info .deposits .line .deposit img {
  width: 100%;
  border: 5px solid rgba(203, 1, 233, 0.2);
  border-radius: 10px;
}

.info .deposits .line .deposit:first-child {
  margin-right: 50px;
}

.info .play-now, .info .claim-now {
  margin-top: 60px;
}

.info .play-now a, .info .claim-now a {
  text-decoration: none;
  color: #ab4800;
  padding: 10px 65px;
}

.hidden {
  display: none;
}

.coin {
  position: absolute;
  z-index: -1;
}

.coin-1 {
  top: -40px;
  left: 80px;
}

.coin-2 {
  top: -60px;
  right: 80px;
}

.coin-3 {
  top: 500px;
  right: 210px;
}

.coin-4 {
  top: 900px;
  left: 100px;
}

.coin-5 {
  bottom: 0;
  right: 0;
}

@media (max-width: 1440px) {
  .wrapper {
    width: 100%;
  }
}
/*# sourceMappingURL=style.css.map */